<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ESPNotice3._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="ESPNotice3._0.Properties.Settings.connString" connectionString="Data Source=MSLAPTOP\SQLEXPRESS;&#xA;                           Initial Catalog=ESP_RSD;&#xA;                           Integrated Security=True;&#xA;                           TrustServerCertificate=True;"
   providerName="Microsoft.Data.SqlClient" />
 </connectionStrings>
 <userSettings>
  <ESPNotice3._0.Properties.Settings>
   <setting name="InputFilesPath" serializeAs="String">
    <value>C:\Work\NitinM\Notice3Storage\{State}\InputFiles\{Year}\{Month}\{CSVorPics}\{Date}\</value>
   </setting>
   <setting name="OutputFilesPath" serializeAs="String">
    <value>C:\Work\NitinM\Notice3Storage\{State}\OutputFiles\{Year}\{Month}\</value>
   </setting>
  </ESPNotice3._0.Properties.Settings>
 </userSettings>
</configuration>
