<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ESPNotice3._0.Properties.Settings.connString" connectionString="Data Source=MSLAPTOP\SQLEXPRESS;Initial Catalog=ESP_RSD;Persist Security Info=True;User ID=sa;Password=sa;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>